*{margin: 0}
.div{
    height:200px;
    width:200px;
    transition: 2.5s;
    background-color: blueviolet;
    animation-name: allarga;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}
.div:hover{
    width:400px;
}
h1{
    position: relative;
    left: 250px;
    top: calc(100% / 2 - 25px);
    color: white;
}
@keyframes allarga {
    from { width: 200; height:200;}
    to { height:400; width:400}
    
}